.glass{
    background: rgba(255,255,255,0.55);
    border-radius: 16px;
    box-shadow:  0 4px 30px #4747470b;
    backdrop-filter: blur(0.7);
    border: 1px solid rgba(255 ,255 ,255 , 0.3);
    @apply border-4 border-gray-500 shrink-0 h-3/4 w-[30%] rounded-3xl py-20 px-7 
    /* @apply - we can use tailwind classess into normal css file 
        min-w-mix :- means minimun width max containt
    */
}
input[type='file']{
    display: none;
}